/* Colors from Twitter Bootstrap 3.2 */
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  padding-top: 60px;
}

.question {
  @include border-radius(5px);
  background: #E0E8B2;
  padding: 10px;
  margin: 3px;

  &:hover {
    .action-buttons {
      visibility: visible;
    }
  }
}

.answer {
  padding: 10px;
  margin: 3px;
}

.correct-answer {
  @include border-radius(5px);
  background: $brand-success;
}

.action-buttons {
  visibility: hidden;
}

.test-edit .control-label {
  text-align: left;
}

.question-area {
  h4 {
    margin-bottom: 1px;
    font-size: 16px;
    font-weight: bold;
  }

  ul {
    padding-left: 10px;
  }

  li {
    list-style: none;
  }
}